@using FindInternship.Core.Models.Company;

@model CompanyQueryModel;

<form method="get">
    <h1 class="text-black text-center">Фирми</h1>
    <div class="row" style="margin-left: 180px; margin-top: 1em;">
        
        <div class="form-group col-md-3 justify-content-between">

            <div class="form-group">
                <label asp-for="Technology" class="tech-label">Технологии</label>
                <select asp-for="Technology" class="tech-select form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Technologies)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchString" class="tech-label">Търсене</label>
            <input asp-for="@Model.SearchString" class="tech-select form-control" placeholder="Търсене" />
        </div>

        <div class="col-md-3">
            <div class="form-group mt-3 p-2">
                <button type="submit" class="btn btn-light mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search text-black" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</form>

<div id="carouselExampleControls" style="margin-top: 1em" class="carousel">
    <div class="carousel-inner">
        @if (Model.Companies.Count != 0)
        {
            var first = Model.Companies.First();

            <div class="carousel-item active">
                <partial name="_CompanyCardPartial" model="@first" />
            </div>

            @for (int i = 1; i < Model.Companies.Count; i++)
            {
                <div class="carousel-item">
                    <partial name="_CompanyCardPartial" model="Model.Companies[i]" />
                </div>
            }
        }
        else
        {

            <h1 class="text-dark" style="margin: auto">Няма фирми съвпадащи с вашето търсене</h1>


        }

        <div class="carousel-item" style="max-width: 100px">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/companies.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/companyCard.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/js/carousel.js" asp-append-version="true"></script>
}
