


<div class="container" style="display: flex;align-items: center;">
    <div class="browser">
        <div class="browser-bar">
            <div class="options">
                <div class="option close"></div>
                <div class="option minimise"></div>
                <div class="option expand"></div>
            </div>
        </div>
        <div class="browser-content add-overflow">
            <div class="row">
                <p class="mb-10" style="margin-top:10px ;">
                    <i class="bi bi-plus-circle-fill"></i>
                    <span class="heading" style="text-shadow: none">Добави ново умение</span>
                </p>

            </div>

            <div id="html" class="row">
                <p class="mb-10" style="margin-top:10px ;">
                    <i class="devicon-html5-plain colored"></i>
                    <span class="heading" style="text-shadow: none">HTML</span>
                </p>

            </div>

        </div>
    </div>
</div> 

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ability.css" asp-append-version="true" />

}