.header {
    background-image: url('/img/bg-home.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
}

.text-header {
    text-align: center;
    margin: 10em 0 5em 0;
}

    .text-header h1 {
        font-size: 90px;
        font-weight: bold;
        color: white;
    }

.categories {
    text-align: center;
    margin-bottom: 5em;
}

    .categories h2 {
        color: white;
    }

.posts {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
}

.post {
    display: flex;
    margin:2em;
}

.left {
    background-image: url('poster.jpg');
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;
}

.picture-left {
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;
}

.row {
    margin-top: 2em;
}

.blog .image {
    height: 250px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

    .blog .image img {
        width: 100%;
        height: 100%;
    }

.blog .date {
    top: -19px;
    z-index: 99;
    width: 65px;
    right: -29px;
    height: 65px;
    padding: 10px;
    position: absolute;
    color: #FFFFFF;
    font-weight: bold;
    background: #5bc0de;
    border-radius: 999px;
}

.blog .blog-details {
    padding: 0 20px 0 0;
}

.blog {
    padding: 0;
}

.well {
    border: 0;
    box-shadow: 0px 0px 2px 0px black;
    padding: 10px 20px;
    min-height: 63px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
}

.blog .blog-details h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: black
}

    .blog .blog-details p{
        color:black;
    }

    .blog .date .blog-number {
        color: #fff;
        display: block;
        font-size: 24px;
        text-align: center;
    }

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

    .tag + .tag {
        margin-left: .5em;
    }

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info > small {
    color: #666;
}


.empty{
    color:black;
    margin:3em;
    text-align:center;
}