:root {
    --numDays: 5;
    --numHours: 10;
    --timeHeight: 60px;
    --calBgColor: #fff1f8;
    --eventBorderColor: #f2d3d8;
    --eventColor1: #f5f5dd;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
}

.button-81-delete {
    background-color: red;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    padding: 0.8rem 1.2rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81-edit {
    background-color: yellow;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    padding: 0.8rem 1.2rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-81-edit:hover {
        color: white;
        background-color: goldenrod
    }

.button-81-delete:hover{
    color: white;
    background-color: darkred;
}

.calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
}

.timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: #d2cebcd6;
}

.start-10 {
    grid-row-start: 2;
}

.start-9 {
    grid-row-start: 1;
}

.start-11 {
    grid-row-start: 3;
}

.start-12 {
    grid-row-start: 4;
}

.start-1 {
    grid-row-start: 5;
}

.start-2 {
    grid-row-start: 6;
}

.start-3 {
    grid-row-start: 7;
}

.start-4 {
    grid-row-start: 8;
}

.start-5 {
    grid-row-start: 9;
}

.start-6 {
    grid-row-start: 10;
}

.end-10 {
    grid-row-end: 2;
}

.end-11 {
    grid-row-end: 3;
}

.end-12 {
    grid-row-end: 4;
}

.end-1 {
    grid-row-end: 5;
}

.end-2 {
    grid-row-end: 6;
}

.end-3 {
    grid-row-end: 7;
}

.end-4 {
    grid-row-end: 8;
}

.end-5 {
    grid-row-end: 9;
}

.end-6 {
    grid-row-end: 10;
}

.end-7 {
    grid-row-end: 11;
}

.title {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
}

.space,
.date {
    height: 60px;
}

body {
    font-family: system-ui, sans-serif;
}

.corp-fi {
    background: var(--eventColor1);
}

.ent-law {
    background: var(--eventColor2);
}

.writing {
    background: var(--eventColor3);
}

.securities {
    background: var(--eventColor4);
}

.create {
    background-color: grey;
}

.date {
    display: flex;
    gap: 1em;
}

.date-num {
    font-size: 3rem;
    font-weight: 600;
    display: inline;
}

.date-day {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
}



a.float {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.125);
    background-color: #333;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 5px;
}

a .plus {
    position: relative;
    padding: 0px 8px;
    z-index: 2;
    padding-left: 16px;
}

a.float .ink-visual-container {
    border-radius: 50%;
    clip-path: circle();
}

#ignoreOverflow {
    position: absolute;
    bottom: 600px;
    right: 0;
}

a .ink-visual-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    z-index: 1;
}

a.float .ink-visual-static {
    border-radius: 50%;
}

a .ink-visual-container .ink-visual-static {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}

a.float {
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    background-color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.125);
    color: white;
}

.c-event__creator.isVisible {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.c-event__creator {
   
    position: fixed;
    top: 50%;
    left: 50%;
    /* max-width: 500px;*/
    /*max-height: 470px;*/
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: translate(-50%, -50%) scale(0.9);
    -webkit-transform: translate(-50%, -50%) scale(0.9);
}

.c-calendar__style {
    background-color: #00407b;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.o-btn {
    border-color: white;
    color: white;
    margin-left: 20px;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    background-color: #004b8f;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    color: inherit;
    text-decoration: none;
}

.c-event__creator form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.c-event__creator label {
    font-weight: bold;
    font-family: sans-serif;
}

input {
    height: 40px;
}

input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    padding: 0;
    border-width: 0;
    resize: none;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.o-btn span {
    margin-left: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
    .event {
        height: fit-content;
    }
}
