
a {
    text-decoration: none;
    color: white
}

    a:hover {
        color: aliceblue
    }

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}


h1, h2, hr, footer > div {
    color: white;
}

.index-page-greeting {
    font-weight: 700;
}

.index-page-greeting-p {
    color: white;
}

header {
    background-color: grey;
    color: grey;
}

.form-label-add-edit {
    margin-bottom: 0.5rem;
    color: white;
}

.form-floating {
    color: grey;
}

.for-dropdown {
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
    background: transparent;
}

.heading {
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
}


.navbar {
    padding: 0;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }

        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar a:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > a {
            color: ghostwhite;
        }

    .navbar .getstarted,
    .navbar .getstarted:focus {
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 50px;
        color: #fff;
        font-size: 14px;
        border: 2px solid #47b2e4;
        font-weight: 600;
    }

        .navbar .getstarted:hover,
        .navbar .getstarted:focus:hover {
            color: #fff;
            background: #31a9e1;
        }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

        .navbar .dropdown ul li {
            min-width: 200px;

        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            font-size: 14px;
            text-transform: none;
            font-weight: 500;
            color: #0c3c53;
        }

            .navbar .dropdown ul a i {
                font-size: 12px;
            }

            .navbar .dropdown ul a:hover,
            .navbar .dropdown ul .active:hover,
            .navbar .dropdown ul li:hover > a {
                color: #47b2e4;
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }


.bg-cover {
    background-size: cover !important;
    background-image: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
}

.navbar-brand {
    background: no-repeat;
    background-image: url(../img/Picture2.png);
    background-size: 250px, 50px;
    width: 250px;
    height: 80px;
}

.nav-item {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background-color: black;
    background-size: 100px, 50px;
}

.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    font-family: "Oswald",sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.counter-icon {
    top: 25px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right;
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}

.container {
    margin-top: 50px;
    display: block;
    justify-content: center;
}

.py-5 {
    padding-top: 4cm !important;
    padding-bottom: 3cm !important;
}

.card {
    border-radius: 3px;
    margin-right: 20px;
}

.row {
    justify-content: center;
}

a {
    text-decoration: none;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.fa-bars {
    display: none;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}


.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
}

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a,
    .navbar-mobile a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: #37517e;
    }

        .navbar-mobile a:hover,
        .navbar-mobile .active,
        .navbar-mobile li:hover > a {
            color: #47b2e4;
        }

    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
        margin: 15px;
        color: #37517e;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

        .navbar-mobile .dropdown ul li {
            min-width: 200px;
        }

        .navbar-mobile .dropdown ul a {
            padding: 10px 20px;
        }

            .navbar-mobile .dropdown ul a i {
                font-size: 12px;
            }

            .navbar-mobile .dropdown ul a:hover,
            .navbar-mobile .dropdown ul .active:hover,
            .navbar-mobile .dropdown ul li:hover > a {
                color: #47b2e4;
            }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
        visibility: visible !important;
    }

.for-dropdown {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}


/*...............*/



*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    background-color: #1f2029;
    overflow-x: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 300px;
}*/

.sec-center {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.dark-light:checked + label,
.dark-light:not(:checked) + label {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 20000;
    display: block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    cursor: pointer;
    transition: all 200ms linear;
    box-shadow: 0 0 25px rgba(255,235,167,.45);
}

.dark-light:checked + label {
    transform: rotate(360deg);
}

   /* .dark-light:checked + label:after,
    .dark-light:not(:checked) + label:after {
        position: absolute;
        content: '';
        top: 1px;
        left: 1px;
        overflow: hidden;
        z-index: 2;
        display: block;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background-color: #102770;
        background-image: url('https://assets.codepen.io/1462889/moon.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 200ms linear;
        opacity: 0;
    }*/

    .dark-light:checked + label:after {
        opacity: 1;
    }

    .dark-light:checked + label:before,
    .dark-light:not(:checked) + label:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
        display: block;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        background-color: #48dbfb;
        background-image: url('https://assets.codepen.io/1462889/sun.svg');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 200ms linear;
    }

    .dark-light:checked + label:before {
        background-color: #000;
    }

/*.light-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100%;
    width: 100%;
    transition: all 200ms linear;
    opacity: 0;
}*/

.dark-light:checked ~ .light-back {
    opacity: 1;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 220px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
   
    align-items: center;
   
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    cursor: pointer;
    color: #102770;
    box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}

.dark-light:checked ~ .sec-center .for-dropdown {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}

.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

.dropdown:checked + label:before {
    pointer-events: auto;
}

.dropdown:not(:checked) + label .uil {
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.dropdown:checked + label .uil {
    transform: rotate(180deg);
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.section-dropdown {
    position: absolute;
    padding: 5px;
    background-color: #111;
    top: 70px;
    left: 0;
    width: 20%;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
}

.dark-light:checked ~ .sec-center .section-dropdown {
    background-color: #fff;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}

.dropdown:checked ~ .section-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.section-dropdown:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: 20%;
    height: 20px;
    content: '';
    display: block;
    z-index: 1;
}

.section-dropdown:after {
    position: absolute;
    top: -7px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #111;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}

.dark-light:checked ~ .sec-center .section-dropdown:after {
    border-bottom: 8px solid #fff;
}



.dark-light:checked ~ .sec-center .section-dropdown a {
    color: #102770;
}


.dark-light:checked ~ .sec-center .section-dropdown a:hover {
    color: #ffeba7;
    background-color: #102770;
}

a .uil {
    font-size: 22px;
}

.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
  
    align-items: center;
    justify-content: space-between;
 
    cursor: pointer;
}

    .dropdown-sub:checked + label .uil,
    .dropdown-sub:not(:checked) + label .uil {
        font-size: 22px;
    }

    .dropdown-sub:not(:checked) + label .uil {
        transition: transform 200ms linear;
    }

    .dropdown-sub:checked + label .uil {
        transform: rotate(135deg);
        transition: transform 200ms linear;
    }

    .dropdown-sub:checked + label:hover,
    .dropdown-sub:not(:checked) + label:hover {
        color: #102770;
        background-color: #ffeba7;
    }

.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub {
    color: #102770;
}

    .dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover {
        color: #ffeba7;
        background-color: #102770;
    }

.section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
    transition: all 200ms linear;
}

.dropdown-sub:checked ~ .section-dropdown-sub {
    pointer-events: auto;
    opacity: 1;
    max-height: 999px;
}

.section-dropdown-sub a {
    font-size: 14px;
}

    .section-dropdown-sub a .uil {
        font-size: 20px;
    }

.logo {
    position: fixed;
    top: 50px;
    left: 40px;
    display: block;
    z-index: 11000000;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 250ms linear;
}

    .logo:hover {
        background-color: transparent;
    }

    .logo img {
        height: 26px;
        width: auto;
        display: block;
        transition: all 200ms linear;
    }

.dark-light:checked ~ .logo img {
    filter: brightness(10%);
}

@media screen and (max-width: 991px) {
    .logo {
        top: 30px;
        left: 20px;
    }

    .dark-light:checked + label,
    .dark-light:not(:checked) + label {
        top: 20px;
        right: 20px;
    }
}