
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode"></span></h1>
    <p class="output">An error occurred while processing your request.</p>
    <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
}