@using FindInternship.Core.Models.Teacher;
@model TeacherStudentsViewModel;



<div class="container">
	<div class="row">
		<h2>@Model.Class</h2>
		@foreach (var student in Model.Students)
		{
			<div class="col-xl-12">
				<div class="card mb-3 card-body">
					<div class="row align-items-center">
						<div class="col-auto">
							<a href="#">
								<img src="@student.ProfilePictureUrl" class="width-90 rounded-3" alt="">
							</a>
						</div>
						<div class="col">
							<div class="overflow-hidden flex-nowrap">
								<h6 class="mb-1">
									<a href="#!" class="text-reset">@student.Name</a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@section Styles{
	<link rel="stylesheet" href="~/css/teacherView.css" />
}