@using FindInternship.Data.Models;
@using FindInternship.Web.Extensions;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <li>
                <a class="nav-link scrollto" title="Manage">Здравей, @User.Identity?.Name!</a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link scrollto" asp-area="" asp-action="MyProfile" asp-controller="Profile" asp-route-userId="@User.GetId()" title="Manage">Здравей, @User.Identity?.Name!</a>
            </li>
        }
        

        <li>
            <form class="form-inline" asp-area="" asp-action="Logout" asp-controller="Account">
                <button type="submit" class="nav-link scrollto" style="background-color: unset;border: none;margin-left: 10px;">
                    Излез
                </button>
            </form>
        </li>
    }
    else
    {

        <li class="dropdown">
            <a class="getstarted scrollto"><span>Създай акаунт</span></a>
            <ul>
                <li><a asp-action="RegisterTeacher" asp-controller="Account">Учител</a></li>
                <li><a asp-action="Register" asp-controller="Account">Ученик</a></li>
                <li><a asp-action="RegisterCompany" asp-controller="Account">Фирма</a></li>
            </ul>
        </li>

        <li><a class="getstarted scrollto" asp-action="Login" asp-controller="Account" style="margin-left: 10px"><span>Вход</span></a></li>


    }
</ul>


