@using FindInternship.Core.Models.Request;
@model CreateRequestModel;



<div class="card-body">
    <form method="POST" class="requires-validation">
        <div class="form-row">
            <div class="name">Заглавие</div>
            <div class="value">
                <input asp-for="Topic" class="input--style-6" type="text">
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="name">Съобщение</div>
            <div class="value">
                <div class="input-group">
                    <textarea asp-for="Message" class="textarea--style-6" placeholder="Съобщение до фирмата"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" type="submit">Изпрати</button>
        </div>
    </form>
</div>
