



<div class="card-body">
    <form method="POST">
        <div class="form-row">
            <div class="name">Заглавие</div>
            <div class="value">
                <input class="input--style-6" type="text" name="full_name">
            </div>
        </div>
        <div class="form-row">
            <div class="name">Съобщение</div>
            <div class="value">
                <div class="input-group">
                    <textarea class="textarea--style-6" name="message" placeholder="Съобщение до фирмата"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" type="submit">Изпрати</button>
        </div>
    </form>
</div>
