@using FindInternship.Core.Models.Request;
@model CreateRequestModel;

@{
    ViewData["FormTitle"] = "Молба за практика";
}



<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6" style="border: none; box-shadow: none;">
            <div class="card-heading">
                <h2 class="title">@ViewData["FormTitle"]</h2>
            </div>
            <partial name="_RequestFormPartial" model="@Model" />
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/request.css" asp-append-version="true" />
}