

@{
    ViewData["Title"] = "Молба за практика";
}



<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6" style="border: none; box-shadow: none;">
            <div class="card-heading">
                <h2 class="title">@ViewData["Title"]</h2>
            </div>
            
        </div>
    </div>
</div>