@using FindInternship.Core.Models.Account;
@model RegisterCompanyViewModel



@{
	ViewData["Title"] = "Регистрация";
}

<div class="form-body">
	<div class="row">
		<div class="form-holder">
			<div class="form-content">
				<div class="form-items">
					<form class="requires-validation" id="registerForm" method="post" enctype="multipart/form-data">
						<h2 class="text-center"><strong>@ViewData["Title"]</strong></h2>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<input asp-for="Email" class="form-control" placeholder="Имейл">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="Name" class="form-control" placeholder="Име">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="Password" class="form-control" placeholder="Парола">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="PasswordRepeat" class="form-control" placeholder="Повтори паролата">
							<span asp-validation-for="PasswordRepeat" class="text-danger"></span>
						</div>

						<div class="form-group" style="margin: 12px 0px 12px 0px;">
							<select asp-for="TechnologiesIds" data-placeholder="Технологии" multiple class="form-control chosen-select choices-multiple-remove-button">
								@foreach (var a in Model.Technologies)
								{
									<option value="@a.Id">@a.AbilityText</option>
								}
							</select>
						</div>

						<div class="form-group">
							<textarea asp-for="Description" class="form-control" placeholder="Описание"> </textarea>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>

						<div class="form-group">
							<textarea asp-for="Services" class="form-control" placeholder="Услуги"></textarea>
							<span asp-validation-for="Services" class="text-danger"></span>
						</div>

						<div class="form-group">
							<input asp-for="PhoneNumber" class="form-control" placeholder="Телефон">
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="Address" class="form-control" placeholder="Адррес">
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="City" class="form-control" placeholder="Град">
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="form-group">
							<input asp-for="Country" class="form-control" placeholder="Държава">
							<span asp-validation-for="Country" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label for="profilePicture">Качи профилна снимка</label>
							<input asp-for="ProfilePicture" accept="image/gif, image/jpeg, image/png" class="text-white" id="profilePicture">
							<span asp-validation-for="ProfilePicture" class="text-danger"></span>
						</div>
						<div class="form-group">
							<img alt="Uploaded Image" placeholder="Upload Profile Picture" accept="image/gif, image/jpeg, image/png" style="display:none;">
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">Регистрирай</button>
						</div>
						<br>
						<a asp-controller="Account" asp-action="Login" class="already">Вече имате акаунт? <b>Влезте тук.</b></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js" asp-append-version="true"></script>
	<script src="~/js/register.js" asp-append-version="true"></script>
}

@section Styles{
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

}
