@model FindInternship.Core.Models.Meeting.PreDeleteMeetingViewModel


<div class="form-holder">
    
    <div class="c-event__creator c-calendar__style js-event__creator isVisible" style="width: 1050px; position: absolute;height: fit-content;
    padding-top: 40px" id="meeting-form">

        <h2 class="text-light text-center">Изтрий среща</h2>

        <form class="requires-validation" id="deleteEvent">
            <lable class="text-light" style="margin-top: 10px">Тема на срещата</lable>
            <input placeholder="Тема на срещата" value="@Model.Title" type="text" name="title" disabled>
            

            <lable class="text-light" style="margin-top: 10px">Начален час</lable>
            <input type="datetime" name="start" placeholder="start time" value="@Model.Start" disabled>
           

            <label class="text-light" style="margin-top: 10px">Краен час</label>
            <input type="datetime" name="end" placeholder="end time" value="@Model.End" disabled>
           
            
            <lable class="text-light" style="margin-top: 10px">Адрес</lable>
            <input placeholder="Адрес на срещата" type="text" name="address" value="@Model.Address" disabled>
            <br>

            <button type="submit" class="o-btn js-event__save" id="btn-save">SAVE <span class="fa fa-save"></span></button>

        </form>


    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/deleteMeeting.js" asp-append-version="true"></script>
}
